
/* global */

 .hidden {
    display: none;
 }


 /* reset */

 body {
   background-image: url(../img/bkg-hw3.jpg);
   background-repeat: repeat;
 }

 /* headings */
h1 {
   font-size: 32px;
   color: #202020;
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   padding: 5px;
   text-align: center;
}

h3 {
   font-size: 20px;
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   text-align: center;
   text-decoration: none;
}

/* bkg for all lists, etc.. sectioned off */
#board {
   border: solid #202020 0.5px;
   margin: 50px;
   padding: 30px;
   background-color: #ededed;
   border-radius: 15px;
 }

 /* line between title and text on top of page & text */
#line {
   color: #202020;
}

#under-title {
   font-size: 18px;
   color: #202020;
   font-family:'Times New Roman', Times, serif;
   padding: 10px;
   margin-bottom: 30px;
   text-align: center;
}


/* all list css ... 1-4 */

li {
   text-decoration: none;
   list-style: none;
}

.list-box {
   border: 2px dashed #000;
   margin: 30px;
   padding: 15px;
   border-radius: 10px;
}


#box-1 {
   background-color: rgb(182, 183, 255);
   color: #1a0f5f;

}

#box-1 li{
   color: #2b1f7d;
   line-height: 25px;
   list-style:circle;
}

#box-3 {
   background-color: rgb(255, 245, 182);
   color: #5f540f;

}

#box-3 li{
   color: #7d6a1f;
   line-height: 25px;
}

#box-4 {
   background-color: rgb(183, 255, 182);
   color: #0f5f0f;

}

#box-4 li{
   color: #217d1f;
   line-height: 25px;
   list-style:circle;
}

#box-2 {
   background-color: rgb(255, 182, 182);
   color: #5f0f0f;

}

#box-2 li{
   color: #7d1f1f;
   line-height: 25px;
}

/* checkboxes */

input[type="checkbox"] {
   margin-right: 10px;
}

input[type="checkbox"]:checked {
   appearance: none;
}

#box-2 input[type="checkbox"]:checked::after {
   content: "✅"
}

#box-3 input[type="checkbox"]:checked::after {
   content: "🎉";
}


/* bottom of page */
footer {
   color: #202020;
}